body {
  font-family: Arial;
  background: #f0f0f0;
}

.container {
  width: 350px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #0066ff;
  color: white;
  border: none;
}
